{erl_opts, [debug_info]}.
{deps, [
%    {erater, ".*", {git, "git://github.com/yandex/erater.git", {branch, "release-1.4"}}},
%    {grpoc, ".*", {git, "git://github.com/uwiger/gproc.git", {ref,"e5500cd5fb950813e60827d337767c0b4237aa74"}}},
%    {minishard, ".*", {git, "git://github.com/stolen/minishard.git", {ref,"c0a043b43547e37116f923ea4869fe83b73e3702"}}}
% {poolboy, ".*", {git, "git://github.com/devinus/poolboy.git",{branch,"2.0"}}}
]}.

{relx, [{release, { test, 
    "20180615.073522" %% relflow-release-version-marker
},
         [test,
          monkey,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.

{plugins, [
    rebar3_run,
    {relflow, ".*", {git, "https://github.com/RJ/relflow.git", {branch, "master"}}}
]}.
